.root {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1;
  margin-left: 240px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .main {
    margin-left: 0;
    padding: 1rem;
    padding-top: calc(56px + 1rem);
  }
}
