#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  /* Set the initial background color */

  /* Apply the transition property */
  /* Transition 'background-color' over '0.5s' with an 'ease' timing function */
  transition: background-color 0.3s ease;

  /* Ensure the body takes the full height of the viewport */
  min-height: 100vh;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
