.container {
  height: 100%;

  /* background-color: rgb(244, 244, 244); */
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 1.5rem;
  padding-top: 0px;

  margin-top: 0px;
}

.heading {
  font-weight: bold;
  font-size: 20px !important;
}
