@import "tailwindcss";

:root,
#root,
html,
body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.loader {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
